* {
    box-sizing: border-box;
}

body {
    border-top: 10px solid #42b983;
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    height: 100%;
}

.logo {
    max-width: 100px;
}

.logo:hover {
    animation-name: shake;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes shake {
    from {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(-30deg);
    }
}

h1,
h2 {
    font-weight: normal;
}

h1 {
    font-size: 2.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
    max-width: 960px;
    margin: 2rem auto;
}

section {
    margin: 0 1rem;
}

.quickref{
    width: 106px;
    height: 41px;
    position: absolute;
}
#gallery {
    position: relative;
    text-align: left;
}

#gallery .inner {
    margin: .5rem;
    column-count: 5;
    column-gap: 0;
}
#gallery .image-wrapper {
    display: inline-block;
    position: relative;
}
#gallery .enlarge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255,255,255, .9);
    border: 0;
    width: 30px;
    height: 30px;
    line-height: 0px;
    font-size: 1rem;
    cursor: pointer;
}
#gallery .img {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    border: 1px solid transparent;
    background: #fff;
    transition: background 1s ease;
    cursor: pointer;
    vertical-align: top;
}

#gallery .selected img {
    background: yellow;
    border: 1px solid #fff;
    transition: all 1s ease;
}

#gallery .delete {
    display: none;
}

#gallery .deleted.hide {
    /* display: none; */
    background: transparent;
    transition: all .5s ease;
}

#gallery .deleted {
    color: transparent;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation-name: showhide;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
}

.select-wrapper form {
    display: inline-block;
    width: 50%;
}

.select-menu {
    padding: .6rem;
    font-size: 1rem;
    width: 100%;
}

@keyframes showhide {
    from {
        color: #222;
        background: yellow;
        opacity: 1;
    }

    to {
        color: transparent;
        background: transparent;
        opacity: 0;
    }
}

#gallery.hide-others .delete {
    display: block;
    margin: auto;
    width: 100px;
}

#gallery.hide-others .image-wrapper {
    display: none;
}

#gallery.hide-others .selected {
    display: inline-block;
}

input[type="text"] {
    width: 100%;
    max-width: 960px;
    padding: 0.5rem;
    border: 1px solid #ddd;
    font-size: 16px;
    /* for mobile to not zoom in */
}

input[type="text"]:focus {
    border: 1px solid #42b983;
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.button {
    border: 1px solid transparent;
    background: #42b983;
    color: #fff;
    transition: all .5s ease;
}

.button:hover {
    background: yellow;
    color: #42b983;
    border: 1px solid #42b983;
    transition: all .5s ease;
}

.button:active {
    background: #42b983;
    color: #fff;
    transition: all .5s ease;
}

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    line-height: 1.6;
    margin-top: 60px;
    padding: 0 0 200px;
    background: url(skyline.svg) center bottom no-repeat;
    border-bottom: 2px solid #42b983;
    min-height: 92.4%;
}

.hide {
    /* display: none; */
}

@media (max-width: 900px) {
    #gallery .inner {
        column-count: 4;
    }
}
@media (max-width: 750px) {
    #gallery .inner {
        column-count: 3;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    #gallery .inner {
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #gallery .inner {
        column-count: 1;
    }
}

/* lightbox */
.close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255,255,255, .9);
    border: 0;
    width: 30px;
    height: 30px;
    line-height: 0px;
    font-size: 1rem;
    cursor: pointer;
}
#gallery :target {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.8);
    z-index: 10;
}
#gallery :target .enlarge {
    display: none;
}
#gallery :target .close {
    display: block;
    font-size: 2rem;
}
#gallery :target img {
    width: auto;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}